<div class="card" *ngIf="service">
  <div class="card-body text-start">
    <h5 class="card-title">{{ service.title }}</h5>
    <p class="card-text">{{ service.description }}</p>
  </div>
  <div class="card-footer text-start py-3">
    <button
      class="btn btn-link p-0 me-3 text-decoration-none"
      (click)="onUpdate(service)"
    >
      Editar
    </button>
    <button
      class="btn btn-link p-0 text-decoration-none"
      data-bs-toggle="modal"
      data-bs-target="#confirmDeleteServiceModal"
      (click)='onDelete(service)'
    >
      Eliminar
    </button>
  </div>
</div>


